.nav-link {
  background-color: transparent !important;
  font-size: 0.75rem;
}
.active {
  background-color: #fff !important;
}
.navbar-nav > .nav-item > .nav-link,
.navbar-nav > .nav-link {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.bx {
  font-weight: bold;
  font-size: 1.1rem;
}
.dropdown-menu {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
