<nav class="navbar navbar-expand-lg bg-transparent">
  <div class="container">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav m-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <span class="nav-link text-muted fw-normal"
            >&copy; <span class="fw-bold">Horizon Centers</span> 2024.</span
          >
        </li>
        <li class="nav-item">
          <a [routerLink]="['/welcome']" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/about-us']" class="nav-link">About Us</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/privacy']" class="nav-link">Privacy Policy</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/terms']" class="nav-link">Terms of Use</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
