<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h1 class="text-center mb-2 text-muted">Reset your password</h1>
  <div class="mb-5">
    <div class="form-text">
      <svg
        width="24"
        height="24"
        viewBox="0 0 48 48"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M5.79889 24H41.7989"
          stroke="#333"
          stroke-width="4"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M17.7988 36L5.79883 24L17.7988 12"
          stroke="#333"
          stroke-width="4"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
      <a class="ms-2" [routerLink]="['/auth/login']">Back to sign in</a>
    </div>
  </div>
  <div class="form-floating mb-2">
    <input
      required
      formControlName="email"
      autocomplete="off"
      type="email"
      class="form-control"
      id="floatingInput"
      placeholder="name@example.com"
    />
    <label for="floatingInput">Email address</label>
  </div>
  <div class="form-text mb-5">Enter your email address above</div>
  <div class="d-flex flex-column">
    <button
      type="submit"
      class="btn btn-outline-primary rounded-pill w-100 mt-3"
    >
      Submit
    </button>
  </div>
</form>
